.forecast{
    background-color: #ffffff24;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    padding: 1.5rem;
    width: 100%;
    max-width: 42rem;
}



.city_forecast{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
