.tooltip {
  position: absolute;
  
  :hover{
    cursor: pointer;
  }

  .temp-prev {
    padding: 0.5rem;
    position:relative;
    top:-4rem;
    left:3rem;
    border-radius: 0.5rem;
    border-right: 2px solid rgba(255,255,255,0.3);
    border-bottom: 2px solid rgba(255,255,255,0.3);

    background: linear-gradient(120deg,rgba(255,0,0,0) 0%, rgba(0,0,0,0.3) 170%);

    .tooltip-country-name{
      display: inline;
      font-size: 0.8rem;
      color: rgb(255, 255, 255);
      text-shadow: 0 0 3px #000000;
      white-space: nowrap;
    }

    .tooltip-country-temp{
      color: rgba(255, 255, 255, 0.8);
      text-shadow: 0 0 3px #000000;
      text-align: right;
    }
  }
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0.5rem;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -20%;
  left: 50%;
  margin-left: -40px;
}

.tooltiptext{
  display: flex;
  flex-direction: column;
  text-wrap: nowrap;
  width: auto;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;

}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
