
.main {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
}
.container{
  display: flex;

  .mapContainer{
    display: grid;
    justify-content: left;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);

    .mapImage{
      grid-column: 1/13;
      grid-row: 1/13;
      height: 100%;
    }

    .cardsContainer{
      grid-column: 1/13;
      grid-row: 1/13;
      height: 80%;
    }
  }

  .infoContainer{
    padding-left: 6rem;
    min-width: 500px;
    height: 100%;
  }
  
}









