.card {
  /* display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border: 1px plum solid; */

  background: linear-gradient(135deg, rgba(50, 48, 159, 0.5), rgb(52, 3, 60, 1));
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  color: #ffffff;
  width: fit-content;
  height: auto;
}

.weather_icon{
  // border-radius: 50%;
  // border: 5px solid #FFF;
  flex: 1;
}

.weather_icon_img{
  height: auto;
  width: 100%;
}

.weather_data{
  flex: 2;
  text-align: left;
  margin-left: 20px;

  // title
  & div:nth-child(1){
      font-size: 1rem;
      text-transform: capitalize;
  }
  & div:nth-child(2){
      // weather text
    & p:nth-child(1){
      font-size: 0.8rem;
      overflow-wrap: break-word;
    }
    // current temp
    & p:nth-child(2){
      font-size: 1rem;
    }
  }
}


/* country positions */
.chile {
  position: relative;
  left: 80px;
  top: 200px;
  z-index: 1001;
}

.mexico {
  position: relative;
  left: 700px;
  top: 300px;
  z-index: 1002;
}

.bolivia {
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 1003;
}

.españa{
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 1004;
}

/* end countries position */