.container{
    position: fixed;
    display: absolute;
    height: 1024;
    width: 720;
    left: 0;
    top: 0;
    z-index: 10;
    
}

.map-container{
    display: absolute;
    height: 1024;
    width: 720;
    left: 0;
    top: 0;
}

.widget-container{
    position: absolute;
    left: 0;
    top: 0;
}
