@import "/src/app/styles/mixings";

.day{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    gap: 5px;
    @include text-border-line();
    font-size: 1.25rem;
}

.day_icon{
    filter: drop-shadow(0 0 10px rgba(0,0,0,.8));
}